body{
    background-color: rgba(197, 227, 241, 0.516);
  
}
.logo-text{
    font-weight: bold;
    /* text-shadow: 8px 10px 8px black; */
}

#text-logo{
    color: rgb(17, 241, 17);
}
.nav-color{
    background-color:#a5eef5a3;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile-name {
    margin-top: 0;
    font-size: 24px;
  }
  
  .profile-bio {
    margin-bottom: 20px;
  }

/* Add course Card */



label {
  display: block;
  margin-bottom: 5px;
}

.selectBtn{
  background-color: rgba(129, 240, 129, 0.776);
  border-radius: 10px;

}


/* notice css  */

@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
  }
}
/* Some Cool Stuff */
/* .demo-card:nth-child(1) {
  order: 1;
}
.demo-card:nth-child(2) {
  order: 4;
}
.demo-card:nth-child(3) {
  order: 2;
}
.demo-card:nth-child(4) {
  order: 5;
}
.demo-card:nth-child(5) {
  order: 3;
}
.demo-card:nth-child(6) {
  order: 6;
} */
/* Border Box */
* {
  box-sizing: border-box;
}
/* Fonts */
body {
  font-family: Roboto;
}
#timeline {
  padding: 100px 0;
  background: #f7f7f7;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}
#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 100%;
    margin: 0 auto;
  }
}
#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
#timeline .demo-card {
  position: relative;
  display: block;
  justify-content: center;
  /* margin: 10px auto 80px; */
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
  }
}
@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  #timeline .demo-card {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  #timeline .demo-card:nth-child(even) {
    margin-left: 635px;
  }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  /* #timeline .demo-card:nth-child(2) {
    margin-top: 180px;
  } */
}
#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 15px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 3rem;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 100%;
    line-height: 2.2rem;
  }
}
#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
  overflow: auto;
}
@media (min-width: 1000px) {
  #timeline .demo-card .body {
    height: 315px;
  }
}
#timeline .demo-card .body p {
  font-size: 20px;
  line-height: 18px;
  margin-bottom: 15px;
  line-height: 2rem;
}
#timeline .demo-card .body img {
  display: block;
  width: 100%;
}
#timeline .demo-card--step1 {
  background-color: #46b8e9;
}
#timeline .demo-card--step1 .head::after {
  border-color: #46b8e9;
}
#timeline .demo-card--step2 {
  background-color: #3ee9d1;
}
#timeline .demo-card--step2 .head::after {
  border-color: #3ee9d1;
}
#timeline .demo-card--step3 {
  background-color: #ce43eb;
}
#timeline .demo-card--step3 .head::after {
  border-color: #ce43eb;
}
#timeline .demo-card--step4 {
  background-color: #4d92eb;
}
#timeline .demo-card--step4 .head::after {
  border-color: #4d92eb;
}
#timeline .demo-card--step5 {
  background-color: #46b8e9;
}
#timeline .demo-card--step5 .head::after {
  border-color: #46b8e9;
}
.view a{
  margin-left: 180px;
  color: white;
  text-decoration: none;
  
}

.view a:hover{
  cursor: pointer;
  color: green;
}

/* text animation  */

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 80px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* SUBJECT CHANGE */
.animate-sub{
  text-transform: uppercase;
 background-image: linear-gradient(
   -225deg,
   #231557 0%,
   #44107a 29%,
   #ff1361 67%,
   #fff800 100%
 );
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 color: #fff;
 background-clip: text;
 -text-fill-color: transparent;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 2s linear infinite;
 display: inline-block;
     font-size: 40px;
}

@keyframes textclip {
 to {
   background-position: 200% center;
 }
}

/* SUBJECT CHANGE  */
.animate-subChange {
  text-transform: uppercase;
 background-image: linear-gradient(
   -225deg,
   #2eef14 0%,
   #28a240 29%,
   #ff1361 67%,
   #b1a24c 100%
 );
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 color: #fff;
 background-clip: text;
 -text-fill-color: transparent;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 2s linear infinite;
 display: inline-block;
     font-size: 40px;
}

@keyframes textclip {
 to {
   background-position: 200% center;
 }
}

.animate-uploadNotice {
  text-transform: uppercase;
 background-image: linear-gradient(
   -225deg,
   #2eef14 0%,
   #28a240 29%,
   #ff1361 67%,
   #b1a24c 100%
 );
 background-size: auto auto;
 background-clip: border-box;
 background-size: 200% auto;
 color: #fff;
 background-clip: text;
 -text-fill-color: transparent;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 2s linear infinite;
 display: inline-block;
     font-size: 40px;
}

@keyframes textclip {
 to {
   background-position: 200% center;
 }
}







