 /* Slider container */
 .slider {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
  }
  
  /* Slides */
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    position: relative;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    transition: bottom 0.5s ease;
  }
  
  /* Controls */
  .controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  
  .controls a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .controls a:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .controls a.prev:before {
    content: "\2190";
  }
  
  .controls a.next:before {
    content: "\2192";
  }
  
  /* Dots */
  .dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 1;
   
  }
  
  .dot {
    cursor: pointer;
    width: 10px;
  }